.footer.section
  ._wrap.wrap
    .lower-link
      a(href="https://www.youtube.com/channel/UCy5E4aFQdeX9cvRC4sttsSw").brin-team-link
        h2.logo
          .brin Brin
          .team Team
      .audio.animated.swing#audio-footer
        +svg('angel')        
    .nav.-footer
      a(href="#header", title="title")._link Главная
      a(href="#about", title="title")._link Обо мне
      a(href="#video-review", title="title")._link Видео отзыв
    .follow.-footer
      | Follow Brin on
      .social-net-box
        a(href="https://vk.com/brinblog_ru", title="title")._facebook.social-net
          +svg('vk')
        a(href="https://twitter.com/trenerbrin", title="title")._twitter.social-net
          +svg('twitter-logo-silhouette')
        a(href="http://instagram.com/trenerbrin", title="title")._instagram.social-net
          +svg('instagram')
    ._text © 2019 Brin Team, your dream team