.icon {
  display: inline-block;

  &.example-png-icon {
    background: url(img/icons/example.png);
    width: 30px;
    height: 30px;
  }

  //app/elements/header/icons
  &.homer {
    background: url(img/icons/homer.png)no-repeat center/contain;
    width: 70px;
    height: 110px;
  }

  &.homer2 {
    background: url(img/icons/homer2.png)no-repeat center/contain;
    width: 70px;
    height: 110px;
  }

  &.homer3 {
    background: url(img/icons/homer3.png)no-repeat center/contain;
    width: 162px;
    height: 87px;
  }

  &-example-svg-icon {
    width: 30px;
    height: 30px;
    fill: red;
  }

  //app/elements/header/svg-icons
  &-phone {
    width: 20px;
    height: 15px;
    fill: $active-color;
  }

  &-envelope {
    width: 18px;
    height: 18px;
    fill: $active-color;
  }

  &-facebook-letter-logo {
    width: 18px;
    height: 18px;
    fill: $black-color;
  }

  &-instagram {
    width: 14px;
    height: 16px;
    fill: $black-color;
  }

  &-twitter-logo-silhouette {
    width: 17px;
    height: 17px;
    fill: $black-color;
  }

  &-vk {
    width: 17px;
    height: 17px;
    fill: $black-color;
  }

  &-angel {
    width: 38px;
    height: 40px;
    fill: $active-color;
  }

  &-swipe-up {
    width: 30px;
    height: 25px;
    fill: $white-color;
  }

  &-burger {
    width: 30px;
    height: 25px;
    transition: .2s;
  }
}