// Fonts
$base-font: 'Raleway',
sans-serif;
$base-font-size: 16px;

$vk-color: #4a76a8;
$fb-color: #3b5998;
$in-color: #007cb7;
$tg-color: #229ace;

$active-color: #ff7101;
$white-color: #fff;
$black-color: #212121;

$t-time: .4s;