@import "_fonts";
@import "_mixins";
@import "_variables";
@import "_animate";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $base-font;
  font-size: $base-font-size;
  min-width: 320px;
  color: $black-color;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $base-font;
  outline: none;
  transition: $t-time;

  &:hover {
    cursor: pointer;
  }
}

.section {
  display: flex;
  justify-content: center;
}

.wrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 1170px;

  @media (max-width: 1199px) {
    width: 970px;
  }

  @media (max-width: 992px) {
    width: 767px;
  }

  @media (max-width: 768px) {
    width: 95%
  }
}

.btn {
  width: 235px;
  height: 68px;
  color: $white-color;
  background-color: transparent;
  border: 2px solid $white-color;
  margin: 40px 0 0 0;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  transition: $t-time;
  z-index: 100;

  @media(max-width: 992px) {
    background-color: $active-color;
    border: 2px solid $active-color;
  }

  @media(max-width: 768px) {
    font-size: 17px;
  }

  @media(max-width: 540px) {
    font-size: 14px;
    width: 180px;
    height: 50px;
    background-color: $active-color;
    border: 2px solid $active-color;

  }

  &_about {
    color: $black-color;
    border: 2px solid $active-color;

    @media(max-width: 992px) {
      color: $white-color;
    }

    @media(max-width: 540px) {
      width: 160px;
      height: 51px;
      font-size: 13px;
      margin: 20px 0 0 0;
    }

    &:hover {
      color: $white-color;
    }
  }

  &:hover {
    border: 2px solid $active-color;
    background-color: $active-color;
    text-decoration: none;
  }
}

@import "icons";
@import "../elements/header/header";
@import "../elements/banner/banner";
@import "../elements/about-me/about-me";
@import "../elements/video-review/video-review";
@import "../elements/modals/modal-about/modal-about";
@import "../elements/modals/modal-video/modal-video";
@import "../elements/header/prelouder";
@import "../elements/scroll-bar/jquery.mCustomScrollbar";
@import "../elements/footer/footer";

::-webkit-scrollbar-button {
  background-image: url('');
  background-repeat: no-repeat;
  width: 5px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: #ecedee;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: $active-color;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $active-color;
}

::-webkit-resizer {
  background-image: url('');
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}

::-webkit-scrollbar {
  width: 4px;
}