.modal#modal-video
    ._dialog
        ._content
            .modal-video
              iframe(width="560" height="315" src="http://www.youtube.com/embed/ysSxxIqKNN0?rel=0" frameborder="0" allowfullscreen rel="0" showinfo="0")