.modals {
  color: #fff;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;


  &.active {
    .modal-drop {
      transform-origin: 50%;
      transform: scale(1);
    }

    .modal-content {
      opacity: 1;
      transition: 0.5s ease-in 1.5s;
      background: $active-color;
    }
  }
}

.modal-drop {
  background: $active-color;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  margin-left: -75vh;
  margin-top: -75vh;
  transition: transform 2s cubic-bezier(.25, 1, .60, 1), transform-origin 0s;
  transform: scale(0.001);
  transform-origin: 0 0;
  opacity: 1;
}

.modal-content {
  background: hsl(250, 30%, 10%);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  transition: 0.5s 0s;
  height: 100%;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow-y: auto;
}

.modal-wrap {
  /* top: 50%;
  transform: translateY(-50%); */
  color: rgb(33, 33, 33);
  flex: 1;
  width: 100%;
  max-width: 50em;
  padding: 25px 20px;
  background: #FFE3CC;
  border-radius: 20px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
  font-size: 19px;
  font-weight: 500;
  font-weight: 600;
  line-height: 30px;
  position: relative;



  .brin {
    position: absolute;
    top: -14px;
    left: 15px;
    transform: rotate(-30deg);
    z-index: -1;
    transition: $t-time;

    &_active {
      left: -120px;
    }
  }
}

/* Page Styling */

$font-size: 18/16*1em;

::selection {
  background: hsl(40, 100%, 65%);
  color: #fff;
}

::-moz-selection {
  background: hsl(40, 100%, 65%);
  color: #fff;
}

.close {
  width: 235px;
  height: 68px;
  color: $black-color;
  background-color: transparent;
  border: 2px solid $black-color;
  margin: 40px auto 0 auto;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  z-index: 100;

  &:hover {
    border: 2px solid $active-color;
    background-color: #ff7101;
    text-decoration: none;
    color: $white-color;
  }
}