.banner.section
  .swiper-container(data-slider="swiperBanner")
    .swiper-wrapper
      .swiper-slide
        .slide.-two
          .wrap.banner__wrap
            .content(data-aos="zoom-in")
              ._title Brin Team
              ._subtitle команда твоей мечты
              ._descr Дисциплина и постоянство усилий на длительном промежутке времени, по заданному вектору развития создают требуемый результат.
              a(href="#", title="title").btn Присоединяйся
      .swiper-slide
        .slide.-one
          .wrap.banner__wrap
            .content(data-aos="zoom-in")
              ._title Brin Team
              ._subtitle your dream team
              ._descr Discipline and constancy of efforts over a long period of time, according to a given development vector, create the desired result.
              a(href="#", title="title").btn Join now
      .swiper-slide
        .slide.-three
          .wrap.banner__wrap
            .content(data-aos="zoom-in")
              ._title Brin Team
              ._subtitle el equipo de tus sueños
              ._descr La disciplina y la constancia de los esfuerzos durante un largo período de tiempo, de acuerdo con un vector de desarrollo dado, crean el resultado deseado.
              a(href="#", title="title").btn Únete ahora
    .banner-prev-slide
      .letter p
      .letter r
      .letter e
      .letter v
    .banner-next-slide
      .letter n
      .letter e
      .letter x
      .letter t
    .swiper-pagination
    .triangle