.banner.section
  .swiper-container(data-slider="swiperBanner")
    .swiper-wrapper
      .swiper-slide
        .slide.-one
          .wrap.banner__wrap
            .content
              ._title Brin Team
              ._subtitle Действие на порядок лучше размышления о нем. 
              ._descr Дело в том что практически каждый человек твердо уверен что он умеет, ЛЕЧИТЬ, УЧИТЬ И ШУТИТЬ, и поэтому у нас так много больных, тупых и зануд. 
              a(href="https://www.youtube.com/channel/UCy5E4aFQdeX9cvRC4sttsSw", title="title").btn Присоединяйся
      .swiper-slide
        .slide.-two
          .wrap.banner__wrap
            .content
              ._title Brin Team
              ._subtitle команда твоей мечты
              ._descr Дисциплина и постоянство усилий на длительном промежутке времени, по заданному вектору развития создают требуемый результат.
              a(href="https://www.youtube.com/channel/UCy5E4aFQdeX9cvRC4sttsSw", title="title").btn Присоединяйся
      .swiper-slide
        .slide.-three
          .wrap.banner__wrap
            .content
              ._title Brin Team
              ._subtitle Главное – начать!
              ._descr Принятие плохо решения или худшего из возможных это лучше, чем никакого решения вообще, потому что, если решение ведёт к действию то легче исправить направление в котором кто то или что то двигается, чем заставить кого то или что то сдвинуться из бездействия. 
              a(href="https://www.youtube.com/channel/UCy5E4aFQdeX9cvRC4sttsSw", title="title").btn Присоединяйся
    .banner-prev-slide
      .letter p
      .letter r
      .letter e
      .letter v
    .banner-next-slide
      .letter n
      .letter e
      .letter x
      .letter t
    .swiper-pagination
    .triangle