doctype html
html
    include ../elements/head/head
    +head('Brin Team', 'Отзыв о прекрасном путешествии в мир фитнеса, здоровья и красоты', 'спорт, сила, красота, финес, правильное питание')
    body

        include ../elements/header/header
        include ../elements/banner/banner
        include ../elements/about-me/about-me
        include ../elements/modals/modal-about/modal-about
        
        script(src="js/libs.min.js")
        script(src="js/custom.js")