.video-review.section#video-review
  ._wrap.wrap
    ._play(data-aos="zoom-in" data-aos-duration="1000" data-modal="#modal-video")
      +svg('swipe-up', 'video-review-svg')
    h2._title(data-aos="fade-left" data-aos-duration="2000")
      | ФМ
      span._title.-active 4
      | М
      br/
    small._small *видео отзыв
    ._subtitle "Спасибо Ярослав Брин за усилия и энергию вложенную в проект!"
    
    button.btn(data-aos="fade-right" data-aos-duration="1000" data-modal="#modal-video") Смотреть