.video-review {
  $root: &;
  background: url('http://netizensstore.com/gymfit_theme/html/html/onepage_1/assets/images/video_bg.png')no-repeat fixed center/cover;
  padding: 100px 0;
  color: $white-color;

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__play {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: $active-color;
    transition: $t-time;
    transform: rotate(90deg) !important;
    cursor: pointer;

    &:hover {
      background: darken($active-color, 5%);
      transform: scale(1.1) rotate(90deg) !important;
    }

    .video-review-svg {
      width: 25px;
      height: 20px;
    }
  }

  &__title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 50px;
    margin: 35px 0 0 0;
    text-align: center;

    &_active {
      color: $active-color;
    }
  }

  &__small {
    font-size: 18px;
    font-style: italic;
  }

  &__subtitle {
    color: lighten($active-color, 20%);
    font-size: 26px;
    text-align: center;
    max-width: 600px;
    margin: 20px 0 0 0;
  }

  .btn {
    transition: .1s;
    //margin: 20px 0 0 0;
  }
}