.header {
  $root: &;
  color: $white-color;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;

  &__wrap {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &_top {
      @media(max-width: 540px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }

  &__top {
    display: flex;
    justify-content: center;
    padding: 9px 15px;
    border-bottom: 1px solid #ffffff91;
    width: 100%;
    background: #000;
  }

  &__contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 450px;

    @media(max-width: 992px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__contacts-phone {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 150px;

    &:hover {
      #{$root} {
        &__phone-numder {
          color: darken($white-color, 50%);
        }
      }
    }
  }

  &__phone-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__phone-numder {
    color: $white-color;
    font-size: 16px;
    transition: $t-time;
  }

  &__contacts-email {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 270px;

    @media(max-width: 992px) {
      margin: 5px 0 0 0;
    }

    &:hover {
      #{$root} {
        &__email {
          color: darken($white-color, 50%);
        }
      }
    }
  }

  &__email-svg {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__email {
    font-size: 16px;
    color: $white-color;
    transition: $t-time;
  }

  &__lower {
    display: flex;
    justify-content: center;
    position: relative;
    background: rgba(#000, 0.8);
    padding: 13px 15px;
    width: 100%;

    &_active {
      position: fixed;
      top: 0;
    }
  }
}

.arrow-up {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 90%;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: $active-color;
  z-index: 1000;
  transition: $t-time;
  opacity: 0;

  &:hover {
    background: darken($active-color, 15%);
  }

}

.follow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 155px;
  transition: $t-time;

  &_active {
    color: darken($white-color, 50%);
  }

  &_header {
    @media(max-width: 540px) {
      margin: 10px 0 0 0;
    }
  }
}

.social-net {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $white-color;
  width: 31px;
  height: 31px;
  border-radius: 50%;

  &:hover {
    background: $active-color;
  }
}

.lower-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 200px;

  @media(max-width: 540px) {
    max-width: 180px;
  }
}

.brin-team-link {
  transition: $t-time;

  &:hover {
    text-decoration: none;
    opacity: .9;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $active-color;
  font-weight: 800;
  font-size: 30px;

  @media(max-width: 540px) {
    font-size: 25px;
  }
}

.team {
  color: $white-color;
  margin: 0 0 0 10px;
}

.audio {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 350px;
  transition: $t-time;

  &_active {
    @media(max-width: 768px) {
      opacity: 0;
      transform: translateX(50%);
      z-index: -1;
    }
  }

  &_header {
    @media(max-width: 768px) {
      position: absolute;
      right: 0;
      top: 80px;
      flex-direction: column;
      background: lighten($active-color, 5%);
      max-width: 200px;
      border-radius: 20px;
      z-index: 100;
    }

    @media(max-width: 540px) {
      top: 88px;
    }
  }
}

.nav__link {
  padding: 15px 0;
  font-size: 15px;
  line-height: 22px;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 1;
  z-index: 110;
  transition: $t-time;
  border-bottom: 2px solid transparent;
  color: $white-color;
  letter-spacing: 2px;

  &_active {
    text-decoration: none;
    border-bottom: 2px solid $active-color;
    color: $active-color;

    @media(max-width: 768px) {
      color: darken($active-color, 30%);
    }
  }

  @media(max-width: 768px) {
    padding: 5px 0;
    margin: 5px 0;
  }

  &:hover {
    text-decoration: none;
    border-bottom: 2px solid $active-color;
    color: $active-color;

    @media(max-width: 768px) {
      color: $white-color;
      border-bottom: 2px solid $white-color;
    }
  }
}

.burger {
  display: none;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: lighten($active-color, 15%);
  transition: $t-time;
  flex: none;
  z-index: 1000;

  &_active {
    cursor: pointer;
    background: lighten($active-color, 10%);

    .burger-svg {
      transform: scale(1.2) rotate(360deg);
    }
  }

  @media(max-width: 768px) {
    display: flex;
  }

  @media(max-width: 540px) {
    width: 40px;
    height: 40px;
  }

  &:hover {
    cursor: pointer;
    background: lighten($active-color, 10%);

    .burger-svg {
      transform: scale(1.2) rotate(360deg);
    }
  }
}

.homer-header {
  display: none;

  @media(max-width: 768px) {
    display: flex;
    position: absolute;
    z-index: 1000;
    top: -43px;
    right: 57px;
    z-index: 15;
  }
}