.header.section#header
  ._top
    ._wrap.wrap
      ._contacts
        ._contacts-phone
          a(href="tel:+34661959574", title="title")._phone-link
            +svg('phone')
          a(href="tel:+34661959574", title="title")._phone-numder +34(661)95-95-74
        ._contacts-email
          a(href="mailto:yeshchenkostanislav@gmail.com", title="title")._email-svg 
            +svg('envelope')
          a(href="mailto:yeshchenkostanislav@gmail.com", title="title")._email yeshchenkostanislav@gmail.com
      ._follow
        | Follow on
        a(href="https://www.facebook.com/YeshchenkoStanislav", title="title")._facebook.social-net
          +svg('facebook-letter-logo')
        a(href="https://www.instagram.com/web_developer__stanislav/?hl=ru", title="title")._instagram.social-net
          +svg('instagram')
  ._lower
    ._wrap.wrap
      ._lower-link
        a(href="https://www.youtube.com/channel/UCy5E4aFQdeX9cvRC4sttsSw")._brin-team-link
          h2._logo
            ._brin Brin
            ._team Team
        ._audio.animated.swing#audio
          +svg('angel')        
      ._nav
        a(href="#header", title="title")._nav-link Главная
        a(href="#about", title="title")._nav-link Обо мне
        a(href="#", title="title")._nav-link Видео отзыв