#p_prldr {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: $active-color;
  z-index: 10000;
}

.contpre small {
  font-size: 25px;
}

.contpre {
  width: 250px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 48%;
  margin-left: -125px;
  margin-top: -75px;
  color: #fff;
  font-size: 40px;
  letter-spacing: -2px;
  line-height: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#p_prldr .svg_anm {
  width: 41px;
  height: 41px;
  background: url(img/pufff.svg)no-repeat center/cover;
}