#p_prldr {
  position: fixed;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: $active-color;
  z-index: 10000;

}

.contpre {
  width: 250px;
  height: 230px;
  position: absolute;
  color: #fff;
  font-size: 40px;
  letter-spacing: -2px;
  line-height: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
  margin: 10% 0 0 0;
}

#p_prldr .svg_anm {
  width: 130px;
  height: 170px;
  background: url(img/gomer.gif)no-repeat center/cover;
}