.about-me.section#about
  ._wrap.wrap
    ._photo
      img(src="http://netizensstore.com/gymfit_theme/html/html/onepage_1/assets/images/abt1.png", alt="alt" data-aos="fade-up" data-aos-duration="2000")._img
      img(src="http://netizensstore.com/gymfit_theme/html/html/onepage_1/assets/images/abt2.png", alt="alt")._img
    ._descr
      ._descr-title Обо мне
      ._descr-subtitle история из жизни
      ._descr-text Как часто мы задумываемся о качестве своей жизни, а когда в последний раз анализировали свои действия и их результат, не говоря о постановке целей, вы уверены что делаете все правильно и продвигаетесь по вектору развития или просто довольствуетесь тем что есть, плывя по течению, в основном потоке таких же как Вы? 
      a(href="#", title="title" data-modal="#modal-about-me" onclick="event.preventDefault()").btn.-about.open  Читать дальше