.about-me.section#about
  ._wrap.wrap
    ._photo
      img(src="http://netizensstore.com/gymfit_theme/html/html/onepage_1/assets/images/abt1.png", alt="alt")._img
      img(src="http://netizensstore.com/gymfit_theme/html/html/onepage_1/assets/images/abt2.png", alt="alt")._img
    ._descr
      ._descr-title Обо мне
      ._descr-subtitle история из жизни
      ._descr-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestib ulum porttitor egestas orci, vitae ullamcorper risus consectetur id. Donec at velit vestibulum, rutrum massa quis, porttitor lorem. Donec et ultricies arcu. In odio augue, hendrerit nec nisl ac, rhoncus gravida mauris.
      a(href="#", title="title" data-modal="#hotelGallery" onclick="event.preventDefault()").btn.-about  Читать дальше